*:not(header) {
    box-sizing: border-box;
}

body:not(header) {
    background-color: #f1f1f1;
    
    font-family: Arial;
}

/* Center website */
.main:not(header) {
    max-width: 1000px;
    margin: auto;
}

h1:not(header) {
    font-size: 50px;
    word-break: break-all;
}

.row:not(header) {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row:not(header),
.row:not(header) > .column:not(header) {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column:not(header) {
    float: left;
    width: 33.33%;
    display: none; /* Hide columns by default */
}

/* Clear floats after rows */ 
.row:after:not(header) {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content:not(header) {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show:not(header) {
    display: block;
}

/* Style the buttons */
.btn:not(header) {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover:not(header) {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active:not(header) {
  background-color: #666;
   color: white;
}